services:
  node1:
    build:
      context: .
      dockerfile: docker/messenger.Dockerfile
    ports:
      - "8001:8000" # Web UI
      - "9001:9000" # P2P Port
    environment:
      - P2P_PORT=9000
    volumes:
      - ./backend:/app/backend
      - ./frontend:/app/backend/frontend

  node2:
    build:
      context: .
      dockerfile: docker/messenger.Dockerfile
    ports:
      - "8002:8000" # Web UI
      - "9002:9000" # P2P Port
    environment:
      - P2P_PORT=9000
    volumes:
      - ./backend:/app/backend
      - ./frontend:/app/backend/frontend
  
  node3:
    build:
      context: .
      dockerfile: docker/messenger.Dockerfile
    ports:
      - "8003:8000" # Web UI
      - "9003:9000" # P2P Port
    environment:
      - P2P_PORT=9000
    volumes:
      - ./backend:/app/backend
      - ./frontend:/app/backend/frontend

  node4:
    build:
      context: .
      dockerfile: docker/messenger.Dockerfile
    ports:
      - "8004:8000" # Web UI
      - "9004:9000" # P2P Port
    environment:
      - P2P_PORT=9000
    volumes:
      - ./backend:/app/backend
      - ./frontend:/app/backend/frontend